@page
@model WaterLogger.Dejmenek.Pages.DeleteModel

<h3>Are you sure you want to delete this record?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkingWater.Date)
        </dt>
        <dd class="col-sm-18">
            @Html.DisplayFor(model => model.DrinkingWater.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkingWater.Quantity)
        </dt>
        <dd class="col-sm-18">
            @Html.DisplayFor(model => model.DrinkingWater.Quantity)
        </dd>
        <dt class="col-sm-2">
            MeasureName
        </dt>
        <dd class="col-sm-18">
            @Html.DisplayFor(model => model.DrinkingWater.Measure.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="DrinkingWater.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index">Back to list</a>
    </form>
</div>
