@page
@model HabitHub.Pages.ViewHabitsModel
@{
    ViewData["Title"] = "View habits";
}

@* Edit modal *@
<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-page-handler="Edit">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-white" id="edit-modal-label">Edit record</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row text-white">
                        <div class="col-md-12">
                            <table class="table text-white" id="table-edit-record">
                                <thead>
                                    <tr>
                                        <th scope="col">Habit</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="RecordToUpdate.Id" id="edit-record-id" value="" />
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="habit-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Select habit
                                                </button>
                                                <ul class="dropdown-menu">
                                                    @foreach (string savedHabit in Model.SavedHabits)
                                                    {
                                                        <li><a class="dropdown-item">@savedHabit</a></li>
                                                    }
                                                </ul>
                                                <input type="hidden" asp-for="HabitToUpdate" id="habit-input" value="" />
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" asp-for="RecordToUpdate.Amount" class="form-control" id="edit-record-amount" />
                                        </td>
                                        <td>
                                            <input type="text" asp-for="RecordToUpdate.Unit" class="form-control" id="edit-record-unit" />
                                        </td>
                                        <td>
                                            <input type="datetime-local" asp-for="RecordToUpdate.Date" class="form-control" id="edit-record-date" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-white">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Save changes" class="btn btn-primary" id="modal-save-button" />
                </div>
            </form>
        </div>
    </div>
</div>

@* Filter modal *@
<div class="modal fade" id="modal-filter" tabindex="-1" aria-labelledby="filter-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-page-handler="Filter">
                <div class="modal-header text-white">
                    <h1 class="modal-title fs-5" id="filter-modal-label">Filter habits</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row text-white">
                        <div class="col-md-4">
                            <div class="dropdown" id="habit-dropdown-filter">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="habit-dropdown-button-filter" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select habit
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (string savedHabit in Model.SavedHabits)
                                    {
                                        <li><a class="dropdown-item">@savedHabit</a></li>
                                    }
                                </ul>
                                <input type="hidden" asp-for="HabitToFilterBy" id="habit-input-filter" value="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            From
                            <input type="datetime-local" asp-for="StartDateToFilterBy" class="form-control" id="filter-start-date" />
                        </div>
                        <div class="col-md-4">
                            To
                            <input type="datetime-local" asp-for="EndDateToFilterBy" class="form-control" id="filter-end-date" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-white">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Apply" class="btn btn-secondary" id="modal-filter-button" />
                </div>
            </form>
        </div>
    </div>
</div>

@* Upper options *@
<h3 class="text-white">My habits</h3>
<hr class="text-white" />
<div class="row text-white">
    <div class="col-12 col-sm-6">
        <button type="button" class="btn btn-secondary" id="filter-button" data-bs-toggle="modal" data-bs-target="#modal-filter">
            Filter
        </button>
        <a class="btn btn-secondary" id="filter-button-revert" asp-area="" asp-page="/ViewHabits">Revert</a>
    </div>
    <div class="col-12 col-sm-6">

        <div class="dropdown" id="dropdown-order">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-button-order" data-bs-toggle="dropdown" aria-expanded="false">
                Order by
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="dropdown-item-order-by-habit">Habit</a></li>
                <li><a class="dropdown-item" id="dropdown-item-order-by-date">Date</a></li>
            </ul>
            <div id="order-asc-desc-buttons">
                <input type="button" value="↑" class="btn btn-secondary btn" id="order-asc-button" />
                <input type="button" value="↓" class="btn btn-secondary btn" id="order-desc-button" />
            </div>
            <div id="order-apply-button">
                <input type="submit" value="Apply" class="btn btn-secondary" id="order-button" />
            </div>
            <a class="btn btn-secondary" id="order-button-revert" asp-area="" asp-page="/ViewHabits">Revert</a>

        </div>
    </div>
</div>

@* Table *@
<div class="row text-white">
    <div class="col-md-12" id="table-container">
        <table class="table table-hover table-striped text-white" id="table-view-records">
            <thead>
                <tr>
                    <th scope="col">Habit</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var habitRecord in Model.HabitRecords)
                {
                    Model.RecordsTableRowCounter++;
                    <tr class="text-white">
                        <td class="record-habit-name">@Model.GetHabitName(habitRecord)</td>
                        <td class="record-habit-amount">@habitRecord.Amount</td>
                        <td class="record-habit-unit">@habitRecord.Unit</td>
                        <td class="record-habit-date">@habitRecord.Date</td>
                        <td>
                            <button type="button" class="btn btn-secondary edit-button" id="@Model.RecordsTableRowCounter" value="@habitRecord.Id" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                Edit
                            </button>
                        </td>
                        <td class="table-view-edit-button">
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" asp-for="RecordToDelete" value="@habitRecord.Id" />
                                <div class="form-group">
                                    <input type="submit" value="Delete" class="btn btn-dark" id="delete-habit-button" />
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<svg class="bi me-2" id="background-icon-large" width="300" height="300"><use xlink:href="#calendar" /></svg>
<svg class="bi me-2" id="background-icon-small" width="250" height="250"><use xlink:href="#calendar" /></svg>