@page
@model HomeModel
@{
    ViewData["Title"] = "Sleep Tracker";
}

<div class="text-center">
    <div class="header-buttons">
        <a class="btn btn-table" asp-area="" asp-route-name="@Model.Name" asp-page="/Create">Create new record</a>
        <form action="/DeleteTable" method="post">
            <input type="hidden" name="name" value="@Model.Name" />
            <button type="submit" class="btn btn-table">Delete this action</button>
        </form>
    </div>
    <table id="records" class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].Quantity)
            </th>
        </tr>
        </thead>

        <div class = "body-buttons">
        @foreach (var record in Model.Records)
        {
                     <div>
                    @Html.DisplayFor(modelItem => record.Date)
                
                    @Html.DisplayFor(modelItem => record.Quantity)
                    </div>
                    <div class="d-flex justify-content-center">
                        <a button type="button" class="btn btn-success custom-button btn-sm me-2" asp-page="./Delete" asp-route-id="@record.Id" asp-route-name="@Model.Name">Delete</a>
                        <a button type="button" class="btn btn-success custom-button btn-sm"
                           asp-page="./Update" asp-route-id="@record.Id" asp-route-name="@Model.Name">Edit</a>
                    </div>
        }
        </div>
    </table>
</div>
