@page
@model HomeModel
@{
    ViewData["Title"] = "Sleep Tracker";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="header-buttons">
        <div>
            <a class="btn btn-table" asp-area="" asp-route-name="@Model.Name" asp-route-id="@Model.Id"  asp-page="/Create">Create new record</a>
        </div>
        <div class="header-record">
            @Model.Name
        </div>
        <form action="/DeleteAction" method="post">
            <input type="hidden" name="id" value="@Model.Id"/>
            <button type="submit" class="btn btn-table">Delete the action</button>
        </form>
    </div>
    <div>
        
        <div id="records" class="records-container">
            @foreach (var record in Model.Records)
                {
                    <div class="record-row">

                        <div class="record-info">
                            <div>
                                @Html.DisplayFor(modelItem => record.Date)
                            </div>
                            <div>
                            @Html.DisplayFor(modelItem => record.Quantity) @Html.DisplayFor(modelItem => record.Measurement) 
                            </div>
                        </div>
                        <div class="record-actions">
                            <form action="/Delete" method="post">
                                <input type="hidden" name="name" value="@Model.Name" />
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="hidden" name="recordId" value="@record.Id" />
                                <button type="submit" class="btn custom-button">Delete</button>
                            </form>
                            <div>
                            <a class="btn custom-button" asp-page="./Update" asp-route-recordId="@record.Id" asp-route-actionId="@Model.Id"  asp-route-name="@Model.Name">Edit</a>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
    </div>
</div>
