@page
@model HomeModel
@{
    ViewData["Title"] = "Sleep Tracker";
    Layout = "_Layout 2";
}

<div class="text-center">
    <div class="header-buttons">
        <a class="btn btn-table" asp-area="" asp-route-name="@Model.Name" asp-page="/Create">Create new record</a>
        <form action="/DeleteTable" method="post">
            <input type="hidden" name="name" value="@Model.Name" />
            <button type="submit" class="btn btn-table">Delete this action</button>
        </form>
    </div>
    <div>
        <div class="header-record">
            Your records:
        </div>
        <div id="records" class="record-container">
            <div class="record-header">
                <div>
                    @Html.DisplayNameFor(model => model.Records[0].Date)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Records[0].Quantity)
                </div>
                <div></div>
            </div>
         
                @foreach (var record in Model.Records)
                {
                    <div class="record-row">

                        <div class="record-info">
                            <div>
                                @Html.DisplayFor(modelItem => record.Date)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => record.Quantity)
                            </div>
                        </div>
                        <div class="record-actions">
                            <form action="/Delete" method="post">
                                <input type="hidden" name="name" value="@Model.Name" />
                                <input type="hidden" name="id" value="@record.Id" />
                            <button type="submit" class="btn custom-button">Delete</button>
                            </form>
                            <a class="custom-button" asp-page="./Update" asp-route-id="@record.Id" asp-route-name="@Model.Name">Edit</a>
                        </div>
                    </div>
                }
            </div>
    </div>
</div>
