@page
@model IndexModel
@using Humanizer;
@{
    
    ViewData["Title"] = "Home page";
}
<div class="buttons">
    <div class="dropdown">
    <a button type="button" class="btn btn-success" asp-page="/CreateHabit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Add a new habit
    </a>
    <a button type="button" class="btn btn-success" asp-page="/LogHabit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Log a habit
    </a>
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-page="./Index" asp-route-sorttype="Today">Today</a>
        <a class="dropdown-item" asp-page="./Index" asp-route-sorttype="Yesterday">Yesterday</a>
        <a class="dropdown-item" asp-page="./Index" asp-route-sorttype="DateAdded">Date added</a>
        <a class="dropdown-item" asp-page="./Index" asp-route-sorttype="AddedOrder">Added order</a>
        <a class="dropdown-item search-link" asp-page="./Index">Search for date</a>
    </div>
    <br />
    <form id="search" style="display: none;">
            <p style="margin: 1em 0 1em 0;"> Title: <input type="text" id="searchInput" asp-for="SearchString" /> <input type="submit" value="Filter" /> </p>
    </form>
        @{
            if (Model.SumMessage != null)
            {
                <span style="white-space: pre-line; display: block; margin: 1em 0 1em 0; ">@Model.SumMessage</span>
            }
        }
    </div>
</div>

<table id="records" class="table">
    <thead>
        <tr>
            <th>Habit</th>
            <th>
                @Html.DisplayNameFor(model => model.HabitLogs[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitLogs[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.HabitLogs)
        {
            var summableHabits = Model.HabitLogs.Where(x => x.HabitTypeName == record.HabitTypeName).ToList();
            // Stores the habit type to retrieve features such as ImagePath, UnitOfMeasurement
            var habitType = Model.HabitTypes.Where(x => x.Name == record.HabitTypeName).First();
            @if (record.Quantity > 1)
            {
                habitType.UnitOfMeasurement = habitType.UnitOfMeasurement.Pluralize();
            }
            string amount = record.Quantity + " " + habitType.UnitOfMeasurement;

            <tr class="list-row">
                <td>
                    <img src="@Url.Content(habitType.ImagePath)" width="48px" height="48px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => record.Date)
                </td>
                @{
                    if (record.StartTime != DateTime.MinValue && record.EndTime != DateTime.MinValue)
                    {
                        <td>
                            @record.Time
                        </td>
                    }
                    else if (Model.HabitTypes.Where(x => x.Name == record.HabitTypeName).First().Measurability == "check-in")
                    {
                        <td>
                            ✓
                        </td>
                    }
                    else
                    {
                        <td>
                            @amount
                        </td>
                    }
                }
                <td>
                    <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>

                    <a button type="button" class="btn btn-primary" asp-page="./Update" asp-route-id="@record.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg>
                        </svg>
                    </a>  
                    @{
                        
                        if (summableHabits.Count > 1)
                        {
                            <style>
                                form {
                                    display: inline-block;
                                    margin: 0;
                                    padding: 0;
                                }

                                button {
                                    vertical-align: middle;
                                }
                            </style>

                            <form method="post">
                                    <button type="submit" class="btn btn-primary" asp-route-habittypename="@record.HabitTypeName">
                                    <img width="16" height="16" src="https://img.icons8.com/material-outlined/24/plus-math--v1.png" alt="plus-math--v1" />
                                    </button>
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                var searchLink = document.querySelector('.search-link');
                var searchDiv = document.getElementById('search');

                searchLink.addEventListener('click', function (e) {
                    e.preventDefault();
                    searchDiv.style.display = 'block';
                });
            });
</script>
}

