@page "{id:int?}"
@model DailyCalories.DetailsModel

@{
    ViewData["Title"] = "Details - Daily Calories";
}

<div class="row">
    <div class="col">
      <h1>Daily Calories</h1>
    </div>
    <div class="col">
      <img src="~/img/calories-calculator.png" width="15%" class="float-end">
    </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
        <a class="nav-link" asp-page="Index">Index</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" asp-page="Create">Create New</a>
  </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="Details">Details</a>
    </li>
</ul>

<div class="tab-content p-3" id="myTabContent">

    <h4>Daily Calories</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyCalories.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyCalories.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyCalories.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyCalories.Quantity)
        </dd>
    </dl>

    <div>
        <a class="btn btn-primary p-1" asp-page="./Edit" asp-route-id="@Model.DailyCalories.Id">Edit</a>
    </div>
</div>

