@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<a button type="button" class="btn btn-primary" asp-page="./Create">Add record</a>
<br />
<br />

<h3>Cars spotted</h3>

@if(Model.CarsSpotted.Count > 0)
{  
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.CarsSpotted[0].CarName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CarsSpotted[0].Date)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CarsSpotted[0].Quantity)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Car in Model.CarsSpotted)
            {
                <tr class="table-default">
                    <td>@Html.DisplayFor(m => Car.CarName)</td>
                    <td>@Html.DisplayFor(m => Car.Date)</td>
                    <td>@Html.DisplayFor(m => Car.Quantity)</td>
                    <td>
                        <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@Car.Id">Delete</a>
                        <a button type="button" class="btn btn-primary" asp-page="./Update" asp-route-id="@Car.Id">Edit</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}else
{
    <p>No cars spotted.</p>
}