@page
@model Logger.Pages.DeleteModel
@{
}
<h3>Delete Ride</h3>
<div>
	<dl class=" = row ">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Rides.Date)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Rides.Date)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Rides.Distance)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Rides.Distance)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Rides.Duration)</dt>
		<dd class="col-sm-10">@Model.Rides.Duration.ToString(@"hh\:mm")</dd>
	</dl>

	<form method="post">
		<input type ="hidden" asp-for="Rides.Id" />
		<input type ="submit" value="Delete Ride" class="btn btn-danger mb-3"/> <br />
		<a asp-page="./Index">Return to main menu</a>
	</form>
</div>