@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="form-group">
    <a button type="button" class="btn btn-success" asp-area="" asp-page="/Create">Add Record</a>
</div>


<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].Quantity)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model.Records)
        {
            <tr class="list-row">
                <td>
                    @Html.DisplayFor(modelItem => record.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => record.Quantity)
                </td>
                <td>
                    <a button type="button" class="btn btn-danger" asp-page="./Delete" 
                    asp-route-id="@record.Id">Delete</a>
                    <a button type="button" class="btn btn-primary" asp-page="./Update"
                    asp-route-id="@record.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="robot-buddy-container">
    <picture>
        <source srcset="~/images/cute.png" type="image/png">
        <img id="robot-buddy" src="~/images/cute.png" alt="Robot Buddy" />
    </picture>
    <div id="speech-bubble"></div>
</div>


@section Scripts {
    <script src="~/js/site.js"></script>
}


