@page
@model WeightHistoryModel
@{
    ViewData["Title"] = "Weight History";
}

<h2>Your Weight History</h2>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const weightLogData = @Html.Raw(Json.Serialize(Model.WeightLogs));
        showWeightHistory(weightLogData);
    });
</script>

@if (Model.WeightLogs.Count > 0)
{
    <div class="chart-container d-flex justify-content-center" style="position: relative; height:40vh; width: 100%;">
        <canvas id="weightChart"></canvas>
    </div>
}

<form method="post">
    <div>
        <label for="weight">Please enter your weight:</label>
        <input type="number" id="weight" asp-for="logWeight.weight" />

        <label for="dateLogged">Date Logged:</label>
        <input type="date" id="dateLogged" asp-for="logWeight.loggedDate" />

        <input type="hidden" id="needsToConvert" name="needsToConvert" value="false" />

         @*  <button type="submit" onclick="document.getElementById('needsToConvert').value='true'">Convert to Kg</button> *@
        <button class="btn-primary" type="submit">Submit</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.WeightLogs)
        {
            <tr>
                <td>@log.loggedDate.ToString("yyyy-MM-dd")</td>
                <td>@log.weight</td>
                <td>
                    <a type="button" class="btn btn-info" asp-route-id="@log.Id" asp-area=""
                       asp-page="/Edit">Edit</a>
                    <a type="button" class="btn btn-danger" asp-route-id="@log.Id" asp-area=""
                       asp-page="/Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('weightChart').getContext('2d');
        var weightChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.WeightLogs.Select(log => log.loggedDate.ToString("yyyy-MM-dd")))),
                datasets: [{
                    label: 'Weight',
                    data: @Html.Raw(Json.Serialize(Model.WeightLogs.Select(log => log.weight))),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    },
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
} *@
