@page
@model WaterLogger.Pages.IndexModel
@{
    
}

<a button type="button" class="btn btn-success" asp-area="" asp-page="./Create">Add Expense</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Expense Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model.Expenses)
        {
            <tr class="list-row">
                <td>@record.Id</td>
                <td>@record.Date.ToString("dd-MM-yyyy")</td>
                <td>@record.Amount</td>
                <td>@record.ExpenseType</td>
                <td>
                    <a button type="button" class="btn btn-primary" asp-area="" asp-page="./Update" asp-route-id="@record.Id">Update</a>
                    <a button type="button" class="btn btn-danger" asp-area="" asp-page="./Delete" asp-route-id="@record.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
