@page
@model WaterLogger.jollejonas.Pages.DeleteModel
@{
}


@if (Model.Expenses == null)
{
    <h3>Not Found</h3>
    <div>
        <p>Expense does not exist</p>
    </div>
}
else
{
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenses.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenses.Amount)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Expenses.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a button type="button" class="btn btn-primary" asp-area="" asp-page="/Index">Back to List</a>
    </form>
    </div>
}
