@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="page-title">Habits</h2>
<hr />
<div class="filter-container">
    <label asp-for="SelectedFilter" class="filter-label">Filter:</label>
    <select id="isActiveFilter" class="form-select filter-select" name="isActiveFilter" asp-for="SelectedFilter" onchange="filterTable()">
        <option value="all">All</option>
        <option value="true">Active</option>
        <option value="false">Inactive</option>
    </select>
</div>

<table id="habits" class="table habits-table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-isActiveFilter="@Model.SelectedFilter" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(x => x.Habits.FirstOrDefault()!.Name)
                    @if (Model.CurrentSort == "name_asc")
                    {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                        <path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659" />
                    </svg>
                    }
                    else if (Model.CurrentSort == "name_desc")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                        </svg>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-isActiveFilter="@Model.SelectedFilter" asp-route-sortOrder="@Model.MeasureSort">
                    @Html.DisplayNameFor(x => x.Habits.FirstOrDefault()!.Measure)
                    @if (Model.CurrentSort == "measure_asc")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                            <path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659" />
                        </svg>
                    }
                    else if (Model.CurrentSort == "measure_desc")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                        </svg>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-isActiveFilter="@Model.SelectedFilter" asp-route-sortOrder="@Model.IsActiveSort">
                    @Html.DisplayNameFor(x => x.Habits.FirstOrDefault()!.IsActive)
                    @if (Model.CurrentSort == "active_asc")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                            <path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659" />
                        </svg>
                    }
                    else if (Model.CurrentSort == "active_desc")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                        </svg>
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FilteredHabits)
        {
            <tr class="list-row">
                <td>
                    @Html.DisplayFor(_ => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Measure)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.IsActive)
                </td>
                <td class="action-buttons">
                    <a button type="button" class="btn btn-primary" asp-page="./ViewHabitLogs" asp-route-habitId="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z" />
                        </svg>
                    </a>
                    <a button type="button" class="btn btn-success" asp-page="/CreateHabitLog" asp-route-habitId="@item.Id" disabled="@(!item.IsActive)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                    </a>
                    <a button type="button" class="btn btn-warning" asp-page="./UpdateHabit" asp-route-habitId="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <a type="button" class="btn btn-success btn-add" asp-area="" asp-page="/CreateHabit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    Add New Habit
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="habits-count">
    Number of habits: @ViewData["HabitsCount"]
</div>

@section Scripts {
    <script>
        function filterTable() {
            var selectedFilter = document.getElementById('isActiveFilter').value;
            window.location.href = '?isActiveFilter=' + selectedFilter;
        }
    </script>
}
