@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table id="records" class="table table-hover table-sm align-middle">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Records[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Records[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Records[0].Duration)
        </th>
        <th>
            Manage
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var record in Model.Records)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => record.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => record.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => record.Duration)
            </td>
            <td>
                <a button type="button" class="btn btn-warning" asp-page="./Edit" asp-route-id="@record.Id">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">
                    <i class="fa-regular fa-trash-can"></i>
                </a>

            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">TOTAL:</td>
        <td>@ViewData["Total"]</td>
    </tr>
    </tfoot>
</table>

<a button type="button" class="btn btn-success" asp-area="" asp-page="Create">
    <i class="fa-regular fa-square-plus"></i> Add Record
</a>