@page
@model MVC.RecipeLogger.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create new recipe";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4 gap-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input type="text" asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>

            <div class="form-group pb-3">
                <label asp-for="Recipe.Instructions" class="control-label"></label>
                <textarea asp-for="Recipe.Instructions" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
            </div>

            @for (var i = 0; i < Model.NumberOfIngredients; i++)
            {
                <div class="user-select-none d-flex justify-content-center align-items-center bg-light shadow-sm p-3 mb-3"
                onclick="openModal(@(i+1))" role="button">
                    @if (string.IsNullOrEmpty(Model?.Recipe?.Ingredients?[@i]?.Name))
                    {
                        <h3 class="ingredient-title-@(i+1) mb-0">Ingredient @(i + 1)</h3>
                    }
                    else
                    {
                        <h3 class="ingredient-title-@(i+1) mb-0">@Model.Recipe.Ingredients[@i].Name</h3>
                    }
                </div>

                <dialog class="ingredient-modal-@(i+1) p-4 border border-1 border-secondary">
                    <strong>Ingredient @(i+1)</strong>
                    <div class="form-group">
                        <label asp-for="Recipe.Ingredients[@i].Name" class="control-label"></label>
                        <input type="text" asp-for="Recipe.Ingredients[@i].Name" class="form-control ingredient-input-@(i+1)" 
                        onkeyup="changeIngredientTitle(@(i+1))" />
                        <span asp-validation-for="Recipe.Ingredients[@i].Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Recipe.Ingredients[@i].Amount" class="control-label"></label>
                        <input type="number" asp-for="Recipe.Ingredients[@i].Amount" class="form-control" />
                        <span asp-validation-for="Recipe.Ingredients[@i].Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Recipe.Ingredients[@i].Measure" class="control-label"></label>
                        <input type="text" asp-for="Recipe.Ingredients[@i].Measure" class="form-control" />
                        <span asp-validation-for="Recipe.Ingredients[@i].Measure" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Recipe.Ingredients[@i].Comment" class="control-label"></label>
                        <input type="text" asp-for="Recipe.Ingredients[@i].Comment" class="form-control" />
                        <span asp-validation-for="Recipe.Ingredients[@i].Comment" class="text-danger"></span>
                    </div>
                    <button type="button" onclick="closeModal(@(i+1))" class="btn btn-primary mt-3">Close</button>
                </dialog>
            }

            <input id="IngredientCount" type="hidden" asp-for="@Model.NumberOfIngredients" />

            <div class="my-3">
                <button class="btn btn-success" type="button" onclick="changeIngredientCount(1)">Add Ingredient</button>
                <button class="btn btn-danger" type="button" onclick="changeIngredientCount(-1)">Remove Ingredient</button>
            </div>

            <div class="form-group mb-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function changeIngredientCount(change) {
            const ingredientCount = document.querySelector("#IngredientCount");
            const newValue = parseInt(ingredientCount.value) + change;

            if (newValue < 1) {
                return;
            }

            ingredientCount.value = newValue;
            document.forms[0].submit();
        }

        function openModal(iteration) {
            const modal = document.querySelector(`.ingredient-modal-${iteration}`);
            modal.showModal();
        }

        function closeModal(iteration) {
            const modal = document.querySelector(`.ingredient-modal-${iteration}`);
            modal.close();
        }

        function changeIngredientTitle(iteration) {
            const ingredientTitle = document.querySelector(`.ingredient-title-${iteration}`);
            ingredientTitle.textContent = document.querySelector(`.ingredient-input-${iteration}`).value
            || `Ingredient ${iteration}`;
        }
    </script>
}
