@page "{id:int}"
@model MVC.WaterLogger.K_MYR.Pages.DetailsModel
@{
}

<section class="mt-1 mt-sm-2">
    <div class="container black rounded-3 py-2">
        <div class="d-flex">
            <div class="h5 orangetext mx-5 my-2">@Model.HabitModel.Name</div>

            <button class="ms-auto details-button" type="button" data-bs-toggle="modal" data-bs-target="#addRecord">Add Record</button>
        </div>
        <div>

        </div>

    </div>

</section>

<section class="mt-1 mt-sm-2 text-white">
    <div class="container black rounded-3">
        <table class="table table-borderless table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">@Model.HabitModel.Measurement</th>
                    <th class="px-0" style="width: 30px;" scope="col"></th>
                    <th class="px-0" style="width: 30px;" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Records.Count; i++)
                {
                    <tr class="text-center">
                        <th scope="row">@(i+1)</th>
                        <td>@Model.Records[i].Date.ToString("dd/MM/yyyy")</td>
                        <td>@Model.Records[i].Quantity</td>
                        <td class="px-0">
                            <button class="transparent-btn" type="button" onclick="openUpdateRecordModal('@Model.Records[i].Id', 
                                                                                                         '@Model.Records[i].Date.ToShortDateString()', 
                                                                                                         '@Model.Records[i].Date.ToString("yyyy-MM-dd")', 
                                                                                                         '@Model.Records[i].Quantity')">
                                <img class="img-fluid" src="/img/pencil_white.svg" alt="editRecord" />
                            </button>
                        </td>
                        <td class="px-0">
                            <button class="transparent-btn" type="button" onclick="openDeleteRecordModal('@Model.Records[i].Id', '@Model.Records[i].Date.ToShortDateString()')">
                                <img class="img-fluid" src="/img/trash_white.svg" alt="deleteRecord" />
                            </button>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addRecord" tabindex="-1" aria-labelledby="addRecordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRecordLabel">Add Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="insertRecordForm" method="post" asp-page-handler="InsertRecord">
                    <input type="hidden" id="input-id_addRecord" asp-for="Record.HabitId" value="@Model.HabitModel.Id" />
                    <div class="form-group">
                        <label asp-for="Record.Date" class="control-label"></label>
                        <input type="date" asp-for="Record.Date" class="form-control" />
                        <span asp-validation-for="Record.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1 mb-3">
                        <label asp-for="Record.Quantity" class="control-label"></label>
                        <input type="text" asp-for="Record.Quantity" class="form-control" />
                        <span asp-validation-for="Record.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn orange" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateRecord" tabindex="-1" aria-labelledby="updateRecordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-truncate" id="updateRecordLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateRecordForm" method="post" asp-page-handler="UpdateRecord">
                    <input type="hidden" id="input-id_updateRecord" asp-for="Record.Id"/>
                    <div class="form-group">
                        <label asp-for="Record.Date" class="control-label"></label>
                        <input id="input-date_updateRecord" type="date" asp-for="Record.Date" class="form-control" />
                        <span asp-validation-for="Record.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1 mb-3">
                        <label asp-for="Record.Quantity" class="control-label"></label>
                        <input id="input-quantity_updateRecord" type="text" asp-for="Record.Quantity" class="form-control" />
                        <span asp-validation-for="Record.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn orange" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteRecord" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-truncate" id="deleteRecordLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="deleteConfirmationMessage"></p>
            </div>
            <div class="modal-body">
                <form id="deleteRecordForm" method="post" asp-page-handler="DeleteRecord">
                    <input type="hidden" id="input-id_deleteRecord" asp-for="Record.Id"/>                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}